/* id for targeting individual items */
/* class for targeting repeated items */

/* common between all pages */
/* phone layout */
* {
    font-family: Arial, Helvetica, sans-serif;
    color: #395239;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#container {
    min-height: 100%;
    margin: 0;
    display: grid;
    grid-template-areas: 
    'head'
    'content'
    'foot'
    ;
}

#head {
    grid-area: head;
    display: grid;
    grid-template-areas: 
    'navigation navigation navigation navigation';
    height: 40px;
    padding: 20px;
}

#navigation {
    grid-area: navigation;
    display: flex;
    justify-content: space-evenly;
}

#navigation a {
    width: 60px;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    background-color: white;

    text-decoration: none;
    color: black;

    transition: background-colour 0.3s;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;


}

#navigation a:hover {
    background-color: #f1f1f1;
}

#navigation #active {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: #8dff8d;
}

#tkLogo {
    width: 80px;
    height: 28px;
    grid-area: tkLogo;
    display: none;
}

.content {
    display: grid;
    grid-area: content;
    min-height: 95vh;
}

#foot {
    grid-area: foot;
    display: grid;
    grid-template-areas:
    'copyright github linkedIn .';
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
    box-shadow: 0 0 2px 4px #f1f1f1;
}

#copyright {
    grid-area: copyright;
    margin: auto;
    padding: 5px;
    text-align: left;
}

#github, #linkedIn{
    width:40px;
    height: 40px;
}

#github {
    grid-area: github;
}

#linkedIn {
    grid-area: linkedIn;
}

.greenText {
    color:  #5dd45d;
    font-weight: bold;
}

/* tablet layout */
@media (min-width: 600px) {
    #head {
        grid-template-areas: 
        'tkLogo tkLogo . . navigation navigation navigation navigation';
    }

    #tkLogo {
        display: block;
    }

    #navigation a {
        width: 80px;
        padding: 5px;
        font-size: 26px;
    }

    #navigation #active {
        text-decoration-thickness: 6px;
    }

    #foot {
        grid-template-areas: 
        '. copyright copyright . . . . . github linkedIn .';
    }
}

/* desktop layout*/
@media (min-width: 992px) {
    #head {
        grid-template-areas: 
        'tkLogo tkLogo . . . . . . . . . . . . . . navigation navigation navigation navigation navigation navigation navigation navigation';
    }

    #tkLogo {
        width: 140px;
        height: 49px;
        content:url("images/TKLogo.png")
    }

    #navigation a {
        width: 120px;
        padding: 10px;
        font-size: 36px;
    }

    #navigation #active {
        text-decoration-thickness: 8px;
    }

    #foot {
        grid-template-areas: 
        '. copyright copyright . . . . . . . . . . . . . . . . . . github linkedIn .';
    }
}


/* home page */
/* phone layout */
#homeContent {
    grid-template-areas: 
    'namePlate'
    'techStack';
    grid-template-rows: auto 1fr;
}

#namePlate {
    grid-area: namePlate;
    width: 300px;
    height: 261px;
}

#homeImage {
    grid-area: homeImage;
    display: none;
}

#spacer {
    grid-area: spacer;
    display: none;
}

.techStack {
    grid-area: techStack;
    display: grid;
    grid-template-areas: 
    'techStackTitle'
    'frontEndStack'
    'backEndStack'
    'gameDevStack'
    'toolsStack'
    '.';
    padding: 10px;
    padding-bottom: 0;
    margin: 30px;
    margin-bottom: 0;
    background-color: #f1f1f1;
    border-radius: 15px 15px 0 0;
    vertical-align: top;

    box-shadow: 0 0 2px 4px #f1f1f1;
}

#techStackTitle{
    grid-area: techStackTitle;
    height: 48px;
    width: 200px;
    font-weight: bold;
    font-size: 36px;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 0;
    text-decoration: underline;
}

.techStackHeader {
    display: none;
}

.techStackElement {
    width: fit-content;
    height: 20px;
    font-size: 20px;
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
    margin: 8px;
    background-color: #ffffff;
    border-radius: 18px;
    border-style: solid;
    border-color: #8dff8d;
    box-shadow: 0 0 2px 2px #8dff8d;
    color:#395239;
    font-weight: bold;
    text-shadow: 0 0 2px #8dff8d;
    transition: background-colour 0.3s;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
}

.techStackElement:hover {
    background-color: #f1f1f1;
}

#frontEndStack, #backEndStack, #gameDevStack, #toolsStack {
    width: 140px;
}

#frontEndStack {
    grid-Area: frontEndStack;
}

#backEndStack {
    grid-area: backEndStack;
}

#gameDevStack {
    grid-area: gameDevStack;
}

#toolsStack {
    grid-area: toolsStack;
}

/* tablet layout */
@media (min-width: 600px) {
    #homeContent {
        grid-template-areas: 
        'spacer'
        'namePlate'
        'techStack';
        grid-template-rows: auto auto 1fr;
    }

    #namePlate {
        content:url("images/namePlate.png");
        width: 460px;
        height: 400px;
    }
    
    #spacer {
        display: block;
        height: 100px;
        width: 100%;
    }

    .techStack {
        width: 600px;
        margin: auto;
        grid-template-areas: 
        'techStackTitle techStackTitle techStackTitle techStackTitle'
        'frontEndStack backEndStack gameDevStack toolsStack'
        '. . . .';
    }

    .techStackHeader {
        display: inline;
    }
}

/* desktop layout */
@media (min-width: 992px) {
    #homeContent {
        width: 990px;
        margin: auto;
        grid-template-areas: 
        'spacer . .'
        'namePlate . homeImage'
        'techStack techStack techStack';
        grid-template-rows: auto 1fr;
    }

    #homeImage {
        display: block;
        width: 380px;
        height: 262px;
        padding-top: 80px;
    }
}


/* about page */
/* phone layout */

#aboutContent {
    grid-template-areas: 
    'aboutMe'
    'timeline'
    'techStack';
}

#aboutMe {
    margin-left: 30px;
    margin-right: 30px;
    grid-area: aboutMe;
    background-color: #f1f1f1;
    box-shadow: 0 0 2px 4px #f1f1f1;
}

#aboutMe h3, #timelineHeader {
    font-size: 24px;
    margin-top: 5px;
    margin-left: 15px;
}

#aboutTechStack {
    display: none;
}

#aboutMe p {
    margin: 10px;
    font-size: 14px;
}

#timeline {
    grid-area: timeline;
    width: 300px;
    margin:auto;
}

#timelineHeader {
    grid-area: timelineHeader;
    margin-top: 30px;
}

.timelineContainer {
    grid-area: timelineContent;
    display: grid;
    height: 120px;
    grid-template-areas: 
    'timelineCenter timelineBox';
}

.timelineCenter {
    grid-area: timelineCenter;
    display: grid;
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-areas: 
    'circle'
    'line';
}

.greenCircle {
    grid-area: circle;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #8dff8d;
}

.verticalLine {
    grid-area: line;
    width: 2px;
    height: 140px;
    background-color: #e0e0e0;
    margin: auto;
}

.timelineBox {
    width: 220px;
    height: 100px;
    background-color: #f1f1f1;
    box-shadow: 0 0 2px 4px #f1f1f1;
}

.timelineBoxHeader {
    margin: 0;
}

.timelineBoxDate {
    margin: 0;
    font-size: 12px;
}

.timelineBoxDescription {
    margin: 0;
    font-size: 14px;
}

/* tablet layout */
@media (min-width: 600px) {
    #aboutContent {
        grid-template-areas: 
        'aboutMe'
        'techStack'
        'timeline';
    }

    #aboutTechStack {
        display: grid;
        border-radius: 15px;
        margin-top: 30px;
    }

    #aboutMe {
        width: 460px;
        margin:auto;
    }

    #timelineHeader {
        width: fit-content;
        margin: auto;
        padding: 30px;
    }

    .timelineContainer {
        padding-left: 260px;
        height: 70px;
    }

    .timelineLeft {
        grid-template-areas: 
        'timelineBox timelineCenter';
        padding-right: 260px;
        padding-left: 0;
    }

    .timelineBox {
        width: 260px;
        height: 120px;
    }

    .timelineBoxDescription {
        margin: 0;
        padding-top: 10px;
    }

    #timeline {
        width: 560px;
        margin-bottom: 70px;
    }
}

/* desktop layout */
@media (min-width: 1200px) { /* higher min width to accomodate for layout, tablet layout is suitable for smaller desktops*/
    #aboutContent {
        padding-top: 160px;
        grid-template-areas: 
        'aboutMe timeline'
        'techStack timeline';
    }

    #aboutMe {
        margin-left: 10%;
        margin-right: 10px;
        width: fit-content;
        max-width: 880px;
    }

    #aboutMe h3, #timelineHeader {
        font-size: 36px;
    }

    #aboutMe p {
        font-size: 18px;
    }

    #timeline {
        margin-bottom: 240px;
    }

    .verticalLine {
        height: 310px;
    }

    #aboutTechStack {
        border-radius: 15px 15px 0 0;
    }
}


/* projects page */
/* phone layout */

#projectsContent {
    display: grid;
    grid-template-areas: 
    'projectsHeader'
    'projectsContainer';
    margin: auto;
    width: 276px;
    margin-bottom: 0;
}

#projectsHeader {
    grid-area: projectsHeader;
    font-size: 36px;
    margin: 0;
    height: 44px;
}

#projectsContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 276px;
    grid-area: projectsContainer;
    background-color: #f1f1f1;
    min-height: 400px;
    box-shadow: 0 0 2px 4px #f1f1f1;
    margin-top: 12px;
}

.projectBox {
    margin: 5px;
    width: 260px;
    height: 200px;
    background-color: #ffffff;
    border-style: solid;
    border-color: #8dff8d;
    box-shadow: 0 0 2px 2px #8dff8d;

    transition: background-colour 0.3s;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
}

.projectBox:hover {
    background-color: #dcffdc;
}

.projectLink {
    text-decoration: none;
    width:276px;
}

.projectTitle {
    margin: 5px;
    font-size: 24px;
}

.projectDate {
    margin: 0;
    margin-left: 5px;
    font-size: 12px;
}

.projectDescription {
    margin: 5px;
    margin-top: 10px;
}

/* tablet layout */
@media (min-width: 600px) {
    #projectsContent {
        width: 552px;
    }

    #projectsContainer {
        width: 552px;
        min-height: 640px;
    }

    #projectsHeader {
        margin: 20px;
        margin-top: 40px;
        font-size: 48px;
    }
}

/* desktop layout */
@media (min-width: 1110px) {  /* minimum width for larger layout to be effective */
    #projectsContent {
        width: 1104px;
    }

    #projectsContainer {
        width: 1104px;
    }

    #projectsHeader {
        margin: 30px;
        margin-top: 120px;
        font-size: 48px;
    }
}